target/

.vscode/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### Gradle Patch ###
**/build/

### Gradle ###
.gradle
bin/
build/

## Testing Requirements ##

# Ignore resources folders
**/src/main/resources/

# Ignore TestPlugin.java's
**/src/main/java/sh/miles/TestPlugin.java
